@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --primary: #1899E9;
  --text: #000000;
  --secondary: #e6e6e7;
  --background: #ffffff;
  --thumb: #ffffff;
  --shadow: rgb(227, 226, 226);
}

body.dark {
  --primary: #55c8ff;
  --text: #e6e6e7;
  --secondary: #606368;
  --background: #232323;
  --thumb: #555252;
  --shadow: rgb(161, 157, 157);
}

body {
  background-color: var(--background);
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

.sora {
  font-family: 'Sora';
}

.blue {
  color: #1899E9;
}

.time {
  position: relative;
}

.time::after {
  content: '';
  position: absolute;
  top: 15%;
  right: -10%;
  height: 65%;
  width: 1.5px;
  background-color: rgb(165, 165, 165);
}

/* Controls */

input[type="range"] {
  appearance: none;
  width: 90%;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 100%;
  background-color: inherit !important;
}

input[type=range]::-moz-range-track {
  height: 100%;
  background-color: inherit !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--thumb);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 0px 1.5px var(--shadow);
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  background-color: var(--thumb);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 0px 1.5px var(--shadow);
}

/* Settings */

.settings {
  transition: transform 0.8s ease-in-out;
}

.confirmation {
  transition: all 0.6s ease;
}

/* Loader */

.loaders-1{
  animation: ani-1 2s infinite linear alternate;
  transform-origin: left;
}
.loaders-2{
  animation: ani-2 2s infinite linear alternate;
  transform-origin: right;
}

@keyframes ani-1 {
  50%{
    transform: translateX(40px);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes ani-2 {
  50%{
    transform: translateX(-40px);
  }
  100%{
    transform: translateX(0);
  }
}